/* Keep header clean */
.bookings-table .ant-table-thead > tr > th {
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
    font-weight: 700;
    font-size: 16px;
    font-family: 'Work Sans', sans-serif;
    color: #1E4640;
    padding: 0px 12px !important;
  }
  
  /* Remove header separator */
  .bookings-table .ant-table-thead > tr > th::before {
    display: none !important;
  }
  
  /* Add spacing between each body row */
  .bookings-table .ant-table-container table {
    border-collapse: separate !important;
    border-spacing: 0 10px !important; /* row gap */
  }
  
  /* Body row styles */
  .bookings-table-row {
    margin: 10px !important;
    background: #fff;
    box-shadow: 0px 0px 4px 0px #00000040; /* Your exact shadow */
    transition: 0.2s ease;
  }
  
  /* Reduce padding inside cells */
  .bookings-table .ant-table-tbody > tr > td {
    padding: 8px 12px !important;
    border: none !important;
    overflow: hidden !important;
  }

  /* Center align all header cells */
.bookings-table .ant-table-thead > tr > th {
    text-align: center !important;
  }
  
  /* Center align all body cells */
  .bookings-table .ant-table-tbody > tr > td {
    text-align: center !important;
  }

  /* Hide scrollbars for AntD table body */
.hide-scrollbar .ant-table-body {
  scrollbar-width: none; /* Firefox */
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.hide-scrollbar .ant-table-body::-webkit-scrollbar {
  display: none;
}

.bookings-table .ant-table-pagination {
  margin: 12px 12px 8px !important;
  padding-bottom: 4px !important;
}

@media (max-width: 1024px) {
  .bookings-table .ant-table-pagination {
    flex-wrap: wrap;
    row-gap: 8px;
    justify-content: center !important;
  }
}
